---
import "@/styles/globals.css";
import "@fontsource/prompt/300.css";
import "@fontsource/prompt/400.css";
import "@fontsource/prompt/500.css";
import "@fontsource/prompt/600.css";
import "@fontsource/prompt/700.css";
import { Header } from "@/components/header/Header";
import { Footer } from "@/components/footer/Footer";
import { Tag } from "@/components/blogs/Tag";
import { TOC } from "@/components/blog/TOC";

const { frontmatter, headings } = Astro.props;
const keywords = [
  ...new Set([
    "AWS",
    "blog",
    "cloud",
    frontmatter.category,
    ...frontmatter.subcategories,
  ]),
].join(", ");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter?.description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={frontmatter?.author} />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandexbot" content="index, follow" />
    <meta
      name="sitemap"
      content={import.meta.env.PUBLIC_SITE_URL + "/sitemap-index.xml"}
    />
    <title>{frontmatter?.title + " | PRPB"}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="PRPB" />
    <link rel="manifest" href="/site.webmanifest" />
    <script>
      const preferredTheme =
        localStorage && localStorage.getItem("PRPB_THEME")
          ? localStorage.getItem("PRPB_THEME")
          : window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";

      if (preferredTheme === "dark")
        document.documentElement.classList.add("dark");

      if (localStorage) {
        const observer = new MutationObserver(() => {
          localStorage.setItem(
            "PRPB_THEME",
            document.documentElement.classList.contains("dark")
              ? "dark"
              : "light",
          );
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>
  <body>
    <header>
      <Header client:idle />
    </header>
    <main class="relative">
      <div
        class="max-w-screen-sm mx-auto px-4 break-word whitespace-pre-line text-wrap pt-0 md:pt-[3.4rem] relative"
      >
        <div id="content" class="py-4 md:py-6">
          {
            frontmatter?.thumbnail && (
              <div class="w-full mx-auto border rounded-xl">
                <img
                  src={`${import.meta.env.PUBLIC_SITE_URL + import.meta.env.IMAGE_ASSET_PREFIX}/${frontmatter?.slug}/thumbnail.png`}
                  data-image-component="true"
                  alt={frontmatter?.title + " thumbnail"}
                  loading="eager"
                  fetchpriority="high"
                  decoding="async"
                  class="rounded-xl select-none"
                  draggable="false"
                  width={640}
                  height={320}
                />
              </div>
            )
          }
          <div
            class="text-4xl md:text-3xl font-semibold py-6 leading-snug md:leading-relaxed"
          >
            {frontmatter?.title}
          </div>
          <div class="flex pb-6 justify-between items-center">
            <div class="flex">
              {
                frontmatter?.category && (
                  <div class="mr-3">
                    <Tag
                      name={frontmatter.category}
                      category={frontmatter.category}
                    />
                  </div>
                )
              }
              {
                frontmatter?.category &&
                  frontmatter?.subcategories &&
                  frontmatter.subcategories.map((subcategory: string) => (
                    <div class="mr-2">
                      <Tag
                        name={subcategory}
                        category={frontmatter.category}
                        subcategory={subcategory}
                      />
                    </div>
                  ))
              }
            </div>
            <p class="text-xs opacity-70">{frontmatter?.date}</p>
          </div>
          <slot />
        </div>
      </div>
      <TOC client:idle headings={headings} />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style is:global>
  p {
    word-break: break-word;
    white-space: normal;
  }

  #content a {
    color: blue;
  }

  .dark #content a {
    color: lightblue;
  }

  #content a:hover {
    opacity: 0.65;
  }

  .dark #content a:hover {
    opacity: 0.85;
  }
</style>
